* {
    font-family: 'Montserrat', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.primary-site-font-color {
    color:#2D5A27 !important;
}

.primary-site-btn {
    background-color: #2D5A27 !important;
    color: white !important;
}

.secondary-site-btn {
    background-color: white;
    border-color: #2D5A27 !important;
    color: #2D5A27;
}

.site-text-underline {
    text-decoration: underline; text-decoration-color: #2D5A27;
}

.brand-img {
    height: 50px;
    width: 50px;
}
#brand-logo-label {
    margin-left: 10px;
    font-weight: 600;
}

.nav-item-hover:hover {
    text-decoration: underline;
    color: black;
    text-decoration-color: #2D5A27 !important;
}

.short-page-main-heading {
    font-weight: 800;
}

.active {
    font-weight: 600 !important;
}

.plan-label {
    font-weight: 800;
    font-size: 180%;
}

.price-label {
    font-size: 110%;
}

.crossed {
    text-decoration: line-through;
}

.footer-label-highlight {
    font-weight: 600;
}

.footer-nav-link a{
    color: rgb(71, 68, 68) !important;
}

.footer-nav-link a:hover{
    text-decoration: underline;
    text-decoration-color: #2D5A27 !important;
}

.footer-wrapper {
    margin-top: auto;
}

.card-body li{ margin-bottom: 5px; margin-left: 5px; } 

.benefit-gallery {
    padding-left: 15px;
    padding-right: 15px;
}

.benefit-img {
    height: 300px;
    width: 485.410px;
}

.features {
    padding-left: 15px;
    padding-right: 15px;
}

.img-feature {
    height: 150px;
    width: 242.705px;
}

.soc-avatar {
    width: 150px; height: 150px;
}

.subheading {
    font-size: 150%;
}

.emphasis {
    text-decoration: underline;
    text-decoration-color: #2D5A27;
    text-decoration-thickness: 10%;
}

.modal-visual {
    height: 80%;   
    width: 100%;
}

.pricing-visual {
    height: 60%;   
    width: 60%;
}
.parameter-group-label {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}